<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name="com.ugk.pi.task.runtime.AgentTaskJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:name="com.ugk.pi.task.runtime.AgentTaskAlarmReceiver"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
